<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="./image/weather.png">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <hr>
            <br>
            <p>{{errorMessage}}</p>
        </div>
        <footer>Created by {{>footer}} </footer>
    </body>
</html>