<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./image/weather.png">
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <hr>
            <br><br>
            <img id="robo" src="./image/robot.jpg">
        </div>
        <footer>Created by {{>footer}} </footer>
    </body>
</html>